@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(117deg, #3069b4, #254a7a, #390549);
    min-height: 100vh;
    width: 100%;
    color: #F4F4F4;
    overflow-x: hidden;

}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
}

.calculator {

}

.calculator .display {
    min-width: 370px;
    max-width: 370px;
    min-height: 20%;
    max-height: min-content;
    padding: 10px 10px 10px 10px;
    text-align: end;
    background: #9b9b9b10;
}

.calculator .display .previousNumber {
    font-size: 18px;
}

.calculator .display .currentNumber {
    font-size: 20px;
    text-align: end;
    justify-content: end;

}

.panel {
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(4, 96px);
    grid-template-rows: repeat(5, 96px);
    column-gap: 4px;
    row-gap: 3px;
}

.panel button {
    height: 70px;
    width: 70px;
}

.panel .equals {
    height: 160px;
}

.calculator-history{
    height: 100%;
    background: #3069b4;
}